      <div class="row">
        <div class="col-xs-12 remove-padding plain-border">
            <!--background cover photo-->
            <img class="cover-photo" src="hogwarts_small.jpg">
        </div>
        <div class="row">
          <div class="col-xs-1">
            <img class="personal-photo plain-border" src="harry_potter_small.jpg">
          </div>
        </div>
      </div>
