<title>Welcome to Danebook</title>

<!-- Meta Stuff -->
<meta charset="utf-8">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

<!-- Bootstrap Javascripts -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<!-- jQuery -->
<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>

<!-- Our CSS -->
<%= stylesheet_link_tag "application" %>