<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">

    <header class="navbar-header navbar-element">
    <%= link_to root_path do %>
      <a class="navbar-brand" href="timeline.html">
          <img src="http://s3.amazonaws.com/viking_education/web_development/web_app_eng/danish_flag.gif" alt="danish flag" class="img-circle">
      </a>
    <% end %>
    </header>

    <div class="business-name-container navbar-element">
      <h1>
        Danebook
      </h1>
    </div>

    <form class= "navbar-element input-group-sm">
      <input type="text" class="search-for-users form-control" placeholder="Search for Users">
    </form>

    <div class="username-container navbar-element">
      <h3>Harry</h3>
    </div>

  </div>
</nav>