<nav class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
        <a class="brand pull-left" href="about.html">
            <img style="height:40px" class="img-circle" src="danish_flag.gif">
        </a>
    </div>
    <p class="pull-left">

        <% if @name.nil? %>
        Danebook
        <% else %>
        <%= @name %>
        <% end %>

    </p>

        <div class="navbar-center col-sm-offset-3">
            <form class="navbar-form" role="search">
                <div class="input-group col-sm-8">
                    <!--SEARCH BAR-->
                    <input type="search" class="form-control" placeholder="Search" name="search-field">
                </div>
            </form>
        </div>
  </div> <!--/.container-->
</nav>