<div class="col-md-6 friend-wrapper">
	<div class="a-friend">
		<div class="row friend-row">
			<div class="col-md-4 friend-pic">
				<%= image_tag "user_silhouette_generic.gif", class:"img-thumbnail", alt:"Friend Picture" %>
			</div>
			<div class="col-md-4 friend-info">
				<div class="row">
					<div class="col-md-12">
						<a href="#">Hermione Granger</a>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<label>432 Friends</label>
					</div>
				</div>	
			</div>
			<div class="col-md-4 friend-btn">
				<button class="btn btn-lg btn-unfriend" type="submit">Unfriend Me</button>
			</div>
		</div>
	</div>
</div>