<div class="row">
		<div class="col-md-3 col-xs-6">
		 	<div class="row">
		 		  <!--friend  box-->
			  <div class="col-xs-10 col-xs-offset-1 photo-container">
			  	<!--image-->
					<img class="full-height h-center" src="user_silhouette_generic.gif">
	  			<!--/.image-->
	  			<div class="caption full-width">
	  			<p>Uploaded March 8th, 2015</p>
	  		  </div>
	  		</div>
			</div><!--/.photo box row-->
		</div><!--photo box-->



		<div class="col-md-3 col-xs-6">
		 	<div class="row">
		 		  <!--friend  box-->
			  <div class="col-xs-10 col-xs-offset-1 photo-container">
			  	<!--image-->
					<img class="full-height h-center" src="user_silhouette_generic.gif">
	  			<!--/.image-->
	  			<div class="caption full-width">
	  			<p>Uploaded March 8th, 2015</p>
	  		  </div>
	  		</div>
			</div><!--/.photo box row-->
		</div><!--photo box-->

		<div class="col-md-3 col-xs-6">
		 	<div class="row">
		 		  <!--friend  box-->
			  <div class="col-xs-10 col-xs-offset-1 photo-container">
			  	<!--image-->
					<img class="full-height h-center" src="user_silhouette_generic.gif">
	  			<!--/.image-->
	  			<div class="caption full-width">
	  			<p>Uploaded March 8th, 2015</p>
	  		  </div>
	  		</div>
			</div><!--/.photo box row-->
		</div><!--photo box-->

		<div class="col-md-3 col-xs-6">
		 	<div class="row">
		 		  <!--friend  box-->
			  <div class="col-xs-10 col-xs-offset-1 photo-container">
			  	<!--image-->
					<img class="full-height h-center" src="user_silhouette_generic.gif">
	  			<!--/.image-->
	  			<div class="caption full-width">
	  			<p>Uploaded March 8th, 2015</p>
	  		  </div>
	  		</div>
			</div><!--/.photo box row-->
		</div><!--photo box-->
</div> <!--/.row photo ROW Second-->