 <div class="row">

                    <div class="col-md-4 col-sm-4 col-xs-3">
                              <!--friend  box-->
                                <a href="#"><img class="h-center aside-photo-container" src="icon_photo_small.png"></a>
                            <!--/.image-->
                    </div><!--photo box-->

                    <div class="col-md-4 col-sm-4 col-xs-3">
                              <!--friend  box-->
                                <a href="#"><img class="h-center aside-photo-container" src="icon_photo_small.png"></a>
                            <!--/.image-->
                    </div><!--photo box-->

                    <div class="col-md-4 col-sm-4 col-xs-3">
                              <!--friend  box-->
                                <a href="#"><img class="h-center aside-photo-container" src="icon_photo_small.png"></a>
                            <!--/.image-->
                    </div><!--photo box-->

</div> <!--/.row photo ROW SECOND-->