                    <div class="col-md-4 col-xs-6">
                              <!--friend  box-->
                                <a href="#"><img class="h-center aside-photo-container aside-photo" src="user_silhouette_generic.gif"></a>
                            <!--/.image-->
                            <!--friend image caption-->
                            <div class="row">
                                <div class="col-xs-12">
                                    <a href="#"><p class="text-center">Ronald Weasley<p></a>
                                </div>
                            </div>
                    </div><!--photo box-->
