<!-- Main content, "About Me" edit form -->
<div class="row">

  <main class="panel panel-default about-main">

    <header class="panel-heading">
      <h2 class="panel-title">About</h2>
    </header>

    <!-- Form wrapping panel body and footer (to include 
    Save Changes button) -->
    <form action="#">

      <div class="panel-body">
        <div class="row">

          <div class="col-md-4">
            <table class="table">
              <tr>
                <th colspan="2">Basic Information</th>
              </tr>
              <tr>
                <td>Birthday:</td>
                <td>December 4th, 1942</td>
              </tr>
              <tr>
                <td>College:</td>
                <td><input type="text" class="form-control" value="Some"></td>
              </tr>
              <tr>
                <td>Hometown:</td>
                <td><input type="text" class="form-control" value="Los Angeles, CA USA"></td>
              </tr>
              <tr>
                <td>Currently Lives:</td>
                <td><input type="text" class="form-control" value="Los Angeles, CA USA"></td>
              </tr>

              <tr>
                <th colspan="2">Contact Information</th>
              </tr>
              <tr>
                <td>Email:</td>
                <td><input type="text" class="form-control" value="thedude@juno.com"></td>
              </tr>
              <tr>
                <td>Telephone:</td>
                <td><input type="text" class="form-control" value="555-123-4567"></td>
              </tr>
            </table>
          </div>

          <div class="col-md-8">
            <h4>Words to Live By</h4>
            <textarea name="words-to-live-by" class="form-control">I'm the Dude. So that's what you call me. You know, that or, uh, His Dudeness, or uh, Duder, or El Duderino if you're not into the whole brevity thing.
            </textarea>

            <h4>About Me</h4>
            <textarea name="about-me" rows="8" class="form-control">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus, illo. Illum, ad, nostrum sit officiis veniam consectetur sed perspiciatis unde quis iusto, molestiae laudantium itaque mollitia non, dolores repellendus illo. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio nemo fuga fugiat, officiis ducimus cum enim veritatis sequi necessitatibus aut error, vel quis nobis mollitia velit sapiente amet. Unde, modi.
            </textarea>
          </div>
        
        </div>
      </div>

      <div class="panel-footer panel-footer-left">
        <input type="submit" class="btn btn-primary btn-large" value="Save Changes">
      </div>

    </form>

  </main>

</div><!-- End main row -->