	<%= render 'layouts/navbar' %>
      
  <div class="container">
 	
	  <header class="header">
	
	      <div class="top-part">
	      	  <!-- <img class="cover-photo" src="assets/images/hogwarts_small.jpg"> -->
	      	  <%= image_tag "hogwarts_small.jpg", class: "cover-photo" %>
	      	  <!-- <img class='user-photo' src="assets/images/harry_potter_small.jpg"> -->
	      	  <%= image_tag "harry_potter_small.jpg", class: "user-photo" %>
	      	  <p class="user-name">Harry Potter</p>
	      </div>
	      
	      <div class="row tablist">
	  	  	  <ul class ="nav nav-pills" role="tablist">
	  	          <li><a href="#">Timeline</a></li>
	  	          <li class="active"><a href="#">About</a></li>
	  	          <li><a href="#">Photos</a></li>
	  	          <li><a href="#">Friends</a></li>
	  	          <li class="navbar-right edit-profile"><a href="#">Edit Profile</a></li>
	  	      </ul>
	     </div>
	      
	     
	  </header> 
  </div> 	
	
  <div class="container">
	  <section class="sub-header">
	    <span><strong>About</strong></span>
	    <button class="btn btn-primary right-btn">Edit Profile</button>
	  </section>
  </div>
  
  <div class="container">
  	  <section class="btm-part">
  		  <div class="col-md-5">
  			  <h3>Basic Information</h3>
  				  <div class="col-md-5">
	  				  <ul class="about-info">
  						  <li><strong>Birthday:</strong></li>
  						  <li><strong>College:</strong></li>
  						  <li><strong>Hometown:</strong></li>
  						  <li><strong>Currently Lives:</strong></li>
  					  </ul>
  				  </div><!--/.col-md-6 -->
  				  <div class="col-md-7">
	  				  <ul class="about-info">
		  				  <li>July 31st, 1980</li>
		  				  <li>Hogwarts College</li>
		  				  <li>Godrick's Hollow, England</li>
		  				  <li>Godrick's Hollow, England</li>
		  		      </ul>
		  	      </div><!--/.col-md-6 -->
  			<p id="space">-</p> <!-- moves down stubborn contact info section -->
  			<h3 class="contact">Contact Information</h3>
  				<div class="col-md-5">
	  				<ul class="about-info">
		  				<li><strong>Email:</strong></li>
		  				<li><strong>Telephone:</strong></li>
		  			</ul>
		  		</div><!--/.col-sm-6 -->
		  		<div class="col-md-7">
			  		<ul class="about-info">
				  		<li>harry_potter@hogwarts.edu</li>
				  		<li>555-123-4567</li>
				  	<ul>
				</div><!--/.col-md-6 -->
				
		</div><!--/.col-md-5 -->
  		
  		<div class="col-md-7">
  			<h3>Words to Live By</h3>
	        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	
        <h3>About Me</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  		
      </div><!--/.col-md-7 -->
  	</section>
  </div><!--/.container -->