<main><!--About information -->
    <div class="titlebar-full">
      <h1>About</h1>
      <a href="about_edit.html" class="btn btn-primary">Edit your Profile</a>
    </div>
    <div class="about-info">
      <div class="container">
        <div class="row">
          <div class="col-sm-4 col-sm-offset-1">
            <table id="basic_information">
              <tr>
                <th colspan="2">Basic Information</th>
              </tr>
              <tr>
                <td>Birthday:</td>
                <td>July 31st, 1980</td>
              </tr>
              <tr>
                <td>College:</td>
                <td>Hogwarts College</td>
              </tr>
              <tr>
                <td>Hometown:</td>
                <td>Godrick's Hollow, England</td>
              </tr>
              <tr>
                <td>Currently Lives:</td>
                <td>Godrick's Hollow, England</td>
              </tr>
            </table>
            <table>
              <tr>
                <th colspan="2">Contact Information</th>
              </tr>
              <tr>
                <td>Email:</td>
                <td>harry_potter@hogwarts.edu</td>
              </tr>
              <tr>
                <td>Telephone:</td>
                <td>555-123-4567</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-5 col-sm-offset-1">
            <h2>Words to Live By</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut.</p>
            <h2>About Me</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
