
<main><!--Friend information -->
  <div class="titlebar-full">
  	<h1>Friends</h1>
  </div>
  <div class="container-friends">
    <div class="row">
      <div class="col-sm-6">
        <div class="friend">
          <img src="assets/icon_photo_small.png" class="friend-avatar">
          <div class="friend-info">
            <a href="#">Hermione Granger</a>
            <p>432 Friends</p>
          </div>
          <button class="btn btn-default unfriend">Unfriend Me</button>
        </div>
        <div class="friend">
          <img src="assets/icon_photo_small.png" class="friend-avatar">
          <div class="friend-info">
            <a href="#">Hermione Granger</a>
            <p>432 Friends</p>
          </div>
          <button class="btn btn-default unfriend">Unfriend Me</button>
        </div>
        <div class="friend">
          <img src="assets/icon_photo_small.png" class="friend-avatar">
          <div class="friend-info">
            <a href="#">Hermione Granger</a>
            <p>432 Friends</p>
          </div>
          <button class="btn btn-default unfriend">Unfriend Me</button>
        </div>
      </div>

      <div class="col-sm-6">
        <div class="friend">
          <img src="assets/icon_photo_small.png" class="friend-avatar">
          <div class="friend-info">
            <a href="#">Hermione Granger</a>
            <p>432 Friends</p>
          </div>
          <button class="btn btn-default unfriend">Unfriend Me</button>
        </div>
        <div class="friend">
          <img src="assets/icon_photo_small.png" class="friend-avatar">
          <div class="friend-info">
            <a href="#">Hermione Granger</a>
            <p>432 Friends</p>
          </div>
          <button class="btn btn-default unfriend">Unfriend Me</button>
        </div>
        <div class="friend">
          <img src="assets/icon_photo_small.png" class="friend-avatar">
          <div class="friend-info">
            <a href="#">Hermione Granger</a>
            <p>432 Friends</p>
          </div>
          <button class="btn btn-default unfriend">Unfriend Me</button>
        </div>
      </div>
    </div>
  </div>
</main>
