<%= render 'header' %>

<!-- The main information pane contains a grid of friends -->
<main>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title text-center">
        Friends
      </h2>
    </div>
    <div class="panel-body">

      <div class="row">

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-sm-3">
                <a href="#"><img src="http://placehold.it/100x100" class="img-thumbnail"></a>
              </div>
              <div class="col-sm-6 friend-vertical-parent">
                <h4><a href="#">Apollo God of Music</a></h4>
                <small class="text-muted">320 Friends</small>
              </div>
              <div class="col-sm-3 friend-vertical-parent">
                <button class="btn btn-default btn-sm">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-sm-3">
                <a href="#"><img src="http://placehold.it/100x100" class="img-thumbnail"></a>
              </div>
              <div class="col-sm-6 friend-vertical-parent">
                <h4><a href="#">Ares God of War</a></h4>
                <small class="text-muted">3 Friends</small>
              </div>
              <div class="col-sm-3 friend-vertical-parent">
                <button class="btn btn-default btn-sm">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-sm-3">
                <a href="#"><img src="http://placehold.it/100x100" class="img-thumbnail"></a>
              </div>
              <div class="col-sm-6 friend-vertical-parent">
                <h4><a href="#">Aphrodite Goddess of Love</a></h4>
                <small class="text-muted">1,450 Friends</small>
              </div>
              <div class="col-sm-3 friend-vertical-parent">
                <button class="btn btn-default btn-sm">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-sm-3">
                <a href="#"><img src="http://placehold.it/100x100" class="img-thumbnail"></a>
              </div>
              <div class="col-sm-6 friend-vertical-parent">
                <h4><a href="#">Artemis Goddess of the Hunt</a></h4>
                <small class="text-muted">88 Friends</small>
              </div>
              <div class="col-sm-3 friend-vertical-parent">
                <button class="btn btn-default btn-sm">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-sm-3">
                <a href="#"><img src="http://placehold.it/100x100" class="img-thumbnail"></a>
              </div>
              <div class="col-sm-6 friend-vertical-parent">
                <h4><a href="#">Zeus God of the Sky</a></h4>
                <small class="text-muted">834 Friends</small>
              </div>
              <div class="col-sm-3 friend-vertical-parent">
                <button class="btn btn-default btn-sm">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-6">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-sm-3">
                <a href="#"><img src="http://placehold.it/100x100" class="img-thumbnail"></a>
              </div>
              <div class="col-sm-6 friend-vertical-parent">
                <h4><a href="#">Hades God of the Dead</a></h4>
                <small class="text-muted">1 Friend</small>
              </div>
              <div class="col-sm-3 friend-vertical-parent">
                <button class="btn btn-default btn-sm">Unfriend Me</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div> <!-- panel-body -->
  </div> <!-- panel -->

</main>