<%= render 'navbar' %>

<div class="container">
  <div class="row">
    <div class="col-sm-6">
      <div class="row block-margin-lg">
        <div class="col-sm-12">
          <h2>Connect With all your friends!</h2>
        </div>
        <div class="row">
          <div class="col-sm-11 col-sm-offset-1">
            <ul class="description-list">
              <li><strong>Lorem ipsum dolor sit amet</strong>, consectetur adipisicing elit.</li>
              <li><strong>Ratione sint repudiandae quod, dignissimos quae</strong> natus. Illo adipisci, odit.</li>
              <li>Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit.</strong></li>
              <li><strong>Ab veniam</strong> sunt necessitatibus quis eveniet praesentium dolores cupiditate.</li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-5 col-sm-offset-1">
      <div class="row block-margin-md">
        <div class="col-sm-12">
          <h1>Sign Up</h1>
        </div>
        <div class="row">
          <div class="form-group">
            <div class="col-sm-6 block-margin-sm">
              <input type="text" class="form-control" id="first-name-input" placeholder="First Name">
            </div>
            <div class="col-sm-6 block-margin-sm lastname-margin">
              <input type="text" class="form-control" id="last-name-input" placeholder="Last Name">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-12 block-margin-sm">
              <input type="email" class="form-control" id="Email-input" placeholder="Email">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-12 block-margin-sm">
              <input type="password" class="form-control" id="password-input" placeholder="Passowrd">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <div class="col-sm-12 block-margin-sm">
              <input type="password" class="form-control" id="confirm-password-input" placeholder="Retype Passowrd">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h4>Birthday</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-4 col-xs-4 col-md-3 block-margin-xs">
            <select name="month" class="form-control">
            </select>
          </div>

          <div class="col-sm-4 col-xs-4 col-md-3 block-margin-xs">
            <select name="Day" class="form-control">
            </select>
          </div>

          <div class="col-sm-4 col-xs-4 col-md-3 block-margin-xs">
            <select name="Year" class="form-control">
            </select>
          </div>
        </div>

        <div class="row block-margin-sm">
          <div class="col-sm-12">
            <label class="checkbox-inline">
              <input type="radio" id="male-radio-btn" value="1"> Male
            </label>

            <label class="checkbox-inline">
              <input type="radio" id="female-radio-btn" value="2"> Female
            </label>
          </div>
        </div>

        <div class="row block-margin-sm">
          <div class="col-sm-12">
            <button type="button" class="btn btn-success btn-block btn-signup"><strong>Sign Up!</strong></button>
          </div>
        </div>

      </div>
    </div>

  </div>
</div>