<main>
  <div class="titlebar-full">
    <h1>Photos</h1>
    <a href="#" class="btn btn-primary add-photo">Add Photo!</a>
  </div>
  <div>
    <table class="photo-display">
      <tr>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
      </tr>
      <tr>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
      </tr>
      <tr>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
        <td><img src="assets/icon_photo_small.png" class="my-pic"></td>
      </tr>
    </table>
  </div>
</main>
