<main class="container">
	<%= render "cover" %>
	<section class="row profile-container">
		<div class="col-md-12">
			<div class="row about-line">
				<div class="col-md-2 col-md-offset-5 about-label">
					<label>Photos</label>
				</div>
				<div class="col-md-2 col-md-offset-3 edit-button">
					<button type="button" class="btn btn-primary btn-edit btn-lg">Add Photo!</button>
				</div>
			</div>
			<div class="row all-photos-wrapper">
				<div class="col-md-12 all-photos">
					<% 4.times do %>
						<div class="row photos-line">
							<% 4.times do %>
								<div class="col-md-3 a-photo"><%= image_tag "harry_potter_small.png", class:"img-thumbnail small-profile-pic", alt:"Harry profile pic" %><label class="date-uploaded">Uploaded January 1st, 2015</label></img></div>
							<% end %>
						</div>
					<% end %>
				</div>
			</div>
		</div>
	</section>
</main>