<%= stylesheet_link_tag  'style', media: 'all', 'data-turbolinks-track' => true %>
<%= render 'shared/navbar' %>

<header class="jumbotron cover-menu">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <img src="img/harry_potter_small.jpg" alt="User profile picture" class="profile-pic img-rounded"/>
      </div>
    </div>
  </div>
</header>

<main class="container">
  <div class="row">
    <div class="col-xs-8 col-xs-offset-3">
      <ul class="nav nav-pills nav-justified">
        <li><a href="timeline.html">Timeline</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="friends.html">Friends (137)</a></li>
        <li class="active"><a href="photos.html">Photos (89)</a></li>
        <li><a href="about_edit.html"><strong>Edit Profile</strong></a></li>
      </ul>
    </div>
  </div>
  <div class="row main-content-title">
    <div class="col-xs-12">
      <h2>Photos</h2>
    </div>
  </div>
  <section class="row main-content">
    <!-- Hover effect taken from http://miketricking.github.io/dist/ -->
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="img/user.gif" alt="your photo on danebook">
        <div class="overlay">
          <a class="info" href="#">04/16/2016</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="img/user.gif" alt="your photo on danebook">
        <div class="overlay">
          <a class="info" href="#">04/16/2016</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="img/user.gif" alt="your photo on danebook">
        <div class="overlay">
          <a class="info" href="#">04/16/2016</a>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
      <div class="hovereffect">
        <img class="img-responsive" src="img/user.gif" alt="your photo on danebook">
        <div class="overlay">
          <a class="info" href="#">04/16/2016</a>
        </div>
      </div>
    </div>
  </section>
</main>
