<%= render 'header' %>

<!-- The main information pane contains a grid of photos -->
<main>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2 class="panel-title text-center">
        Photos
        <button class="btn btn-primary btn-sm pull-right">Add Photo!</button>
      </h2>
    </div>
    <div class="panel-body">

      <div class="row">

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

        <div class="col-sm-3 text-center photo-box">
          <a href="#">
            <div data-content="Updated January 1, 2015" class="image">
              <img src="http://placehold.it/200x200" class="img-thumbnail photo">
            </div>
          </a>
        </div>

      </div>
    </div> <!-- panel-body -->
  </div> <!-- panel -->

</main>