<!-- Navbar fixed to the top, inverse -->
<nav class="navbar navbar-fixed-top navbar-inverse" id="top-bar">
  <div class="container">

    <div class="navbar-header">
      <a href="#" class="navbar-brand"><%= image_tag "danish_flag.gif", alt: "Danish Flag Logo", class: "img-circle" %>Danebook</a>
    </div>

    <ul class="nav navbar-nav navbar-right">
      <li><a href="about.html">Jeff</a></li>
    </ul>

    <form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search for Users">
      </div>
    </form>

  </div>
</nav>