// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*************************************** General stuff ***************************************/

b{
	color: #777;
}

/*************************************** Navbar stuff ***************************************/

.navbar{
	background-color: #426bf4;
	height: 100px;
	margin-bottom: 0;
	.navbar-wrapper{
		width: 1170px;
		margin: 0 auto;
		margin-top: 15px;
		form{
			display: inline-block;
			margin-left: 40px;
			input{
				vertical-align: middle;
				font-size: 20px;
				width: 650px;
			}
		}
	}
	h1{
		font-size: 45px;
		color: white;
		padding-left: 70px;
	}
	img{
		height: 50px;
		width: 50px;
		vertical-align: middle;
	}
	.danebook-label{
		font-size: 44px;
		color: white;
		display: inline-block;
		vertical-align: middle;
		margin-left: 20px;
	}
	.name-label{
		font-size: 24px;
		color: white;
		display: inline-block;
		vertical-align: middle;
		margin-left: 100px;
	}
	
	.signin-wrapper{
		min-width: 600px;
		color: white;
		margin-right: 60px;
		padding-top: 20px;
		label{
			font-size: 15px;
		}
		button{
			margin-top: 26px;
			min-width: 100px;
			box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
		}
	}
}

/*************************************** Homepage stuff ***************************************/

.page-wrapper{
	height: 1000px;
	width: 1200px;
	min-width: 1200px; 
	@media (max-width: 1200px) {
		max-width: 970px;
	}
	.info-wrapper{
		height: 800px;
		padding-top: 100px;
		letter-spacing: 2px;
		h2{
			font-weight: bold;
			font-size: 30px;
		}
		ul{
			padding-top: 30px;
			font-size: 17px;
			font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
			line-height: 45px;
			color: #aaa;
		}
	}
	.signup-wrapper{
		min-width: 500px;
		h1{
			font-size: 40px;
		}
		.btn-signup{
			box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
			width: 100%;
		}
		.form-signup-wrapper{
			margin-top: 30px;
			h3{
				padding-left: 20px;
			}
		}
		.birthday-year{
			width: 65px;
		}
		.birthday-day{
			width: 65px;
		}
	}
}

/*************************************** Timeline stuff ***************************************/

main{
	margin-bottom: 30px;
	.cover-container{
		background-image: url(asset-path('hogwarts_small.jpg', image));
		height: 400px;
		.profile-picture{
			width: 180px;
			height: 180px;
			top: 250px;
			left: 20px;
			@media (min-width: 1200px) {
				width: 220px;
				height: 220px;
				top: 210px;
			}
			background-image: url(asset-path('harry_potter_small.png', image));
			position: relative;
			z-index: 99999;
		}
	}
	.buttons-container{
		font-size: 14px;
		border: 2px solid black;
		.bordered-column{
			border-left: 2px solid black;
			height: 50px;
			vertical-align: middle;
			line-height: 45px;
		}
		.left-columns{
			color: #aaa;
			@media (max-width: 1200px) {
				font-size: 12px;
			}
			b{
				color: black;
			}
			.faked-b{
				color: black;
				font-weight: bold;
			}
			#clicked-button{
				background-color: #eee;
			}
		}
		.right-columns{
			a{
				text-decoration: underline;
				float:right;
			}
		}
	}
	.timeline-container{

		.left-columns-timeline{
			.about-content{
				padding-left: 30px;
				padding-top: 10px;
				h4{
					display: inline-block;
				}
			}
			.photos-section-wrapper{
				text-align: center;
				padding-top: 15px;
				.row{
					margin-bottom: 15px;
				}
				img{
					height: 130px;
					width: 130px;
				}
				a{
					text-decoration: underline;
					h5{
						font-size: 22px;
					}
				}
			}
		}

		.right-columns-timeline{
			padding-left: 40px;
			.post-btn-wrapper{
				line-height: 70px;
				.btn-post{
					font-size: 18px;
					width: 80px;
					box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
				}
			}


			.post-content-wrapper, .comment-text-area{
				padding: 15px;
				#postcontent{
					height: 100px;
				}
			}

			.posted-post-wrapper{
				padding: 5px;
				a{
					text-decoration: underline;
				}
				.posted-time{
					color: #aaa;
				}
			}

			.posted-post-content-wrapper{
				p{
					padding: 15px;
				}
			}

			.small-profile-pic{
				height: 60px;
				width: 60px;
			}

			.author-info-wrapper{
				vertical-align: middle;
				display: inline-block;
			}

			.like-button{
				.like-stat-text{
					color: #777;
				}
				a{
					text-decoration: underline;
				}
			}

			.likes-stat{
				margin-top: 15px;
			}

			.commenter-photo{
				@media(min-width: 1200px){
					padding-left: 40px;
				}
			}

			.comment-info-wrapper{
				a{
					text-decoration: underline;
				}
				span{
					color: #777;
				}
			}

			.commenter-comment{
				padding-top: 15px;
			}
			.commenter-buttons{
				span{
					color: #777;
					padding-left: 5px;
				}
			}
			.a-comment-line{
				margin-bottom: 25px;
			}

			.comment-buttons{
				a{
					text-decoration: underline;
				}
				.btn-comment{
					font-size: 14px;
					box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
					margin-bottom: 30px;
				}
			}
		}
		.column-label-line{
			background-color: #eee;
			border: 2px solid black;
			margin-top: 20px;
			.column-label{
				font-size: 16px;
				text-align: center;
			}
		}
		.column-area{
			border-bottom: 2px solid black;
			border-right: 2px solid black;
			border-left: 2px solid black;
			overflow: auto;
		}
		.column-area-with-top-border{
			border-top: 2px solid black;
		}


		.column-area-footer{
			background-color: #eee;
			margin-bottom: 25px;
			padding-left: 10px;
		}

		.column-area-footer-no-margin{
			background-color: #eee;
			height: 70px;
			border-bottom: 2px solid #aaa;
			padding-left: 10px;
		}

		.comments-section{
			background-color: #eee;
			padding-left: 10px;
			padding-top: 5px;
		}
	}
}

/*************************************** Friends stuff ***************************************/

main{
	.profile-container{
		margin-top: 20px;
		.about-line{
			background-color: #eee;
			border: 2px solid black;
			button{
				box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
				font-size: 13px;
			}
			.about-label{
				font-size: 33px;
				text-align: center;
			}
			.edit-button{
				line-height: 56px;
				text-align: right;
			}
		}
		.friends-wrapper{
			border-left: 2px solid black;
			border-right: 2px solid black;
			border-bottom: 2px solid black;
			padding-bottom: 30px;
			.friends-wrapper-line{
				margin-top: 20px;
				.friend-wrapper{
					text-align: center;
					.a-friend{
						height: 200px;
						border: 2px solid black;
						/*overflow: auto;*/
						img{
							@media(max-width: 992px){
								width: 100px;
								height: 100px;
							}
						}
						.friend-pic{
							line-height: 200px;
							padding-left: 30px;
						}

						.friend-info{
							font-size: 18px;
							padding-top: 70px; /* FIXME : hack for vertical middle*/
							a{
								text-decoration: underline;
							}
							text-align: left;
							color: #aaa;
						}

						.friend-btn{
							padding-top: 70px; /* FIXME : hack for vertical middle*/
							.btn-unfriend{
								background-color: #aaa;
								font-size: 16px;
								box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
								height: 40px;
							}
						}
					}
				}
			}
		}
	}
}



	
	
	/*.profile-container{
		margin-top: 20px;
		.save-line{
			border-left: 2px solid black;
			border-right: 2px solid black;
			border-bottom: 2px solid black;
			text-align: center;
			padding-bottom: 300px;
			button{
				width: 90%;
				height: 60px;
				box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
				font-size: 25px;
			}
		}
		.info-line{
			border-left: 2px solid black;
			border-right: 2px solid black;
			.basic-info-line{
				margin-top: 4px;
			}
		}
		.about-line{
			background-color: #eee;
			border: 2px solid black;
			button{
				box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
				font-size: 13px;
			}
			.about-label{
				font-size: 33px;
				text-align: center;
			}
			.edit-button{
				line-height: 56px;
				text-align: right;
			}
		}
		.info-wrapper{
			padding : 30px;
			font-size: 14px;
			line-height: 30px;
		}
		.aboutme-wrapper{
			padding : 30px;
		}
		h2{
			margin-top: 30px;
			margin-bottom: 30px;
		}
	}*/

/*************************************** About stuff ***************************************/

main{
	.profile-container{
		h2{
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.about-line{
			background-color: #eee;
			border: 2px solid black;
			button{
				box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
				font-size: 13px;
			}
			.about-label{
				font-size: 33px;
				text-align: center;
			}
			.edit-button{
				line-height: 56px;
				text-align: right;
			}
		}
		.info-line{
			border-bottom: 2px solid black;
			border-left: 2px solid black;
			border-right: 2px solid black;
			.basic-info-line{
				margin-top: 4px;
			}
			.info-wrapper{
				padding : 30px;
				font-size: 14px;
				line-height: 30px;
			}
		}
		#info-line-edit{
			border-bottom: 0px;
		}
		.save-line{
			border-left: 2px solid black;
			border-right: 2px solid black;
			border-bottom: 2px solid black;
			text-align: center;
			padding-bottom: 300px;
			button{
				width: 90%;
				height: 60px;
				box-shadow: 6px 3px 14px 1px rgba(0,0,0,0.76);
				font-size: 25px;
			}
		}
		.aboutme-wrapper{
			padding : 30px;
		}
		#lives{
			height: 155px;
		}
	}
}

/*************************************** Photos stuff ***************************************/

main{
	.profile-container{
		.all-photos{
			border-left: 2px solid black;
			border-right: 2px solid black;
			border-bottom: 2px solid black;
			overflow: auto;
			.photos-line{
				margin: 20px;
				@media(max-width: 992px){
					margin: 0;
				}
				.a-photo{
					text-align: center;
					vertical-align: middle;
					.date-uploaded{
						display: inline-block;
						position: relative;
						bottom: 26px;
						color: white;
						background-color: #999;
						opacity: 0;
						width: 90%;
						display: inline-block;
						@media(max-width: 1200px){
							font-size: 12px;
							width: 95%;
							bottom: 24px;
						}
						@media(max-width: 992px){
							width: 27%;
				    		top: 84px;
				    		left: -190px;
						}
					}
					img{
						@media(max-width: 992px){
							width: 193px;
							height: 193px;
						}
					}
				}
				.a-photo img:hover + .date-uploaded {
					opacity: 0.75;
				}
				.date-uploaded:hover{
					opacity: 0.75;
				}
			}
		}
	}
}

