// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top-logo {
  padding: 0px;
  border: 0px;
  height: 50px;
  width: 50px;
}

.dane-flag {
  size: 100%;
  height: 50px;
  width: 50px;
  padding: 5px;
}

.fuscia {
  background-color: #93B874;
}

.profile-image {
  position: relative;
  // bottom: 120px;
}

#profile-nav {
  // height: 50px;
  background-color: yellow;
  overflow-y: hidden;

}
