		<nav class="navbar navbar-default navbar-homepage" role="navigation">
	  	 
	      <div class="navbar-header">
	        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
	          <span class="sr-only">Toggle navigation</span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	          <span class="icon-bar"></span>
	        </button>
	        <%= link_to root_path, class: "navbar-brand" do %>
	          <p>Danebook</p>
	        <% end %>
	      </div>
	      
	      <div class="navbar-collapse collapse">
	        <form class="navbar-form navbar-right" role="form">
	          <div class="form-group">
	            <p>Email</p>
	            <input type="text" class="custom-form form-control">
	          </div>
	          
	          <div class="form-group">
	          	<p>Password</p>
	            <input type="password" class="custom-form form-control">
	            <button type="submit" class="btn btn-primary btn-login">Log In</button>
	          </div>  
	        </form>
	      </div><!--/.navbar-collapse -->
	      
	    </nav><!--/nav -->
  