<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="logo-container">
        <%= image_tag "greek_flag_sm_square.png", class: "pull-left img-circle", alt: "Greek flag logo" %>
        <%= link_to 'OlympusBook', root_url, class: 'navbar-brand' %>
      </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <% if @logged_in %>
        <form class="navbar-form" role="search">
          <div class="form-group col-sm-6">
            <label class="sr-only">Search</label>
            <input type="text" class="form-control" placeholder="Search for Users" id="user-search">
          </div>
        </form>
        <ul class="nav navbar-nav navbar-right">
          <li>Athena</li>
        </ul>
      <% else %>
        <form class="navbar-form navbar-right" role="sign-in">
          <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control">
          </div>
          <div class="form-group">
            <label>Password</label>
            <input type="text" class="form-control">
          </div>
          <button type="submit" class="btn btn-default">Login</button>
        </form>
      <% end %>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>