<main><!--About Edit  information -->
  <div class="titlebar-full">
    <h1>Edit Profile</h1>
  </div>
    <div class="about-info">
      <div class="container">
      <div class="row">
       <div class="col-sm-4 col-sm-offset-1">
         <table id="basic_information">
           <tr>
             <th colspan="2">Basic Information</th>
           </tr>
           <tr>
             <td>Birthday:</td>
             <td>July 31st, 1980</td>
           </tr>
           <tr>
             <td>College:</td>
             <td><input type="text" placeholder="Hogwards College"></td>
           </tr>
           <tr>
             <td>Hometown:</td>
             <td><input type="text" placeholder="Godrick's Hollow, England"></td>
           </tr>
           <tr>
             <td>Currently Lives:</td>
             <td><input type="text" placeholder="Godrick's Hollow, England"></td>
           </tr>
         </table>
         <table>
           <tr>
             <th colspan="2">Contact Information</th>
           </tr>
           <tr>
             <td>Email:</td>
             <td>harry_potter@hogwarts.edu</td>
           </tr>
           <tr>
             <td>Telephone:</td>
             <td><input type="text" placeholder="Godrick's Hollow, England"></td>
           </tr>
         </table>
       </div>
       <div class="col-sm-5 col-sm-offset-1">
         <h2>Words to Live By</h2>
         <textarea rows="2" cols="50" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut."></textarea>
         <h2>About Me</h2>
         <textarea rows="8" cols="50" placeholder="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."></textarea>
       </div>
      </div>
      </div>
      <div class="save-button">
       <button class="btn btn-primary btn-lg">Save Changes</button>
      </div>
    </div>
  </div>
</main>
